<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
   
     
 <%= render 'layouts/dropdown_admin_user' %>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="row">
  <div class="col-xs-6">
    <h1><%= link_to "My Store", root_path %></h1>
  </div>
  <div class="col-xs-6 text-right">
    <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
  </div>
</div>
